<?xml version="1.0" encoding="UTF-8"?>

<!--FOR TRACK RACING & RECORDING-->
<launch>
    
    <includ file='$(find LIDAR-LANE-DETECTION)/launch/lane_detct.launch'/>
    
    <node pkg="mission" type="avoid_final.py" name="avoid" />
    <node pkg='mission' type='parking.py' name='parking'/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar)/rviz/final.rviz" />
    
    <!--<node pkg="rosbag" type="record" name="rosbag_record" args="-o /home/stier/catkin_ws/src/lidar/lidar/bag/ /velodyne_points /object_info"/>
-->

</launch>
