<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <!--<include file='$(find LIDAR-LANE-DETECTION)/launch/lane_detct.launch'/>
-->
    <node pkg="mission" type="avoid_fmtc.py" name="avoid" />
    <node pkg='mission' type='parking.py' name='parking'/>
    <node pkg='mission' type='uturn.py' name='uturn'/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar)/rviz/fmtc.rviz" />
    
</launch>
