<?xml version="1.0" encoding="UTF-8"?>

<!--FOR TRACK RACING & RECORDING-->
<launch>

    <!-- LiDAR -->
    <node pkg="vision" type="coneT.py" name="vision_cone" output = 'screen'/>
    <node pkg="track" type="track_path.py" name="track_path" output = 'screen'/>

    <!-- VISUALIZAITON -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar)/rviz/track.rviz" />
    
    <!--IN STIER-->
    <node pkg="rosbag" type="record" name="rosbag_record" args="-o /home/stier/catkin_ws/src/lidar/lidar/bag/track_bag /Cone /velodyne_points"/>

    <!--CONTROL-->
    <node pkg="lidar" type="pure_pursuit_track.py" name="ctl_in_lidar" />

</launch>
