<launch>
    <!-- 파라미터 설정 -->
    <param name="rddf" type="string" value="2025-8-10_10-50_test-08-10-b.txt" />
    <param name="ld" type="double" value="1.5" />
    <param name="speed" type="double" value="10.0" />
    <param name="section_fix" type="int" value="1" />
    
    <!-- rosrun stier pp 실행 -->
    <node pkg="stier" type="pp_beta" name="pp_node_beta" output="screen" />
</launch>
